.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.error {
  color: red;
  margin-bottom: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px; /* Fixed width for better alignment */
  background-color: #fff;
  padding: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.toggle-password-button {
  color: black;
  background-color: lightgrey;
}

.toggle-password-button:hover {
  background-color: rgb(188, 188, 188);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%; /* Full width to match button width */
}

label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.login-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  width: 93%; /* Full width to match form width */
}

.login-button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #87ceeb;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Full width to match input fields */
  margin-top: 10px;
}

.login-button:hover {
  background-color: #79b5d1;
}
